.inputter {
    width: 120px;
    height: 60px;
    overflow: hidden;
    margin: 5px;
}
#adder, #limit-set {
    margin: 5px;
}
#input-field, #limit-field, option, select {
    background-color: rgba(255, 235, 205, 0.644);
    
}
.gifs {
    width: 40%;
    /* height: 350px; */
    border: 2px solid rgb(143, 143, 143);
    margin: 15px;
}

body {
    background-color: black;
}