.inputter {
    width: 120px;
    height: 60px;
    overflow: hidden;
    margin: 5px;
}
#adder, #limit-set {
    margin: 5px;
}
#input-field, #limit-field, option, select {
    background-color: rgba(255, 235, 205, 0.644);
    
}
.gifs {
    /* width: 150%; */
    /* height: 350px; */
    border: 2px solid rgb(143, 143, 143);
    margin: 15px;
}

body {
    background-color: black;
}

.card {
    color: whitesmoke; 
    margin: 15px;
    display: inline-flex;
    /* width: auto; */
    /* height: auto; */
    background-color:rgba(128, 128, 128, 0.329);
}

div {
    color: whitesmoke
}